In [2]:
import fireducks.pandas as fdpd

## Import Pangolin Heart single cell counts

In [3]:
df_pangolin_heart = fdpd.read_csv("data/pangolin/GSM5555222_Pangolin_Heart.txt", sep="\t")
df_pangolin_heart

,Project,Cells,MAOA,MAOB,LOC108388328,ITPRID1,LOC108397419,LOC108398607,LOC108398140,LOC108392528,...,COX2,ATP8,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB
0,Vthunter_0037,AAACCCAAGAGAGCGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.571913,0.000000,4.837742,4.312646,3.416253,0.0,3.416253,0.000000,0.000000,2.755413
1,Vthunter_0037,AAACCCAAGCAAGGAA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.875415,2.694161,5.885050,6.011014,4.544395,0.0,3.224378,0.000000,0.000000,5.286000
2,Vthunter_0037,AAACCCAAGCAGTCTT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.599611,0.000000,4.984139,5.338758,3.292377,0.0,0.000000,1.821536,0.000000,4.145927
3,Vthunter_0037,AAACCCAAGCCTGTGC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.804969,0.000000,4.993237,4.087071,2.749914,0.0,0.000000,0.000000,0.000000,3.410573
4,Vthunter_0037,AAACCCAAGTAACGTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.551341,2.508516,4.050626,4.050626,2.508516,0.0,0.000000,0.000000,0.000000,2.508516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12953,Vthunter_0037,TTTGTTGTCCAAGCTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.108515,3.153655,5.417057,5.417057,4.107437,0.0,0.000000,0.000000,2.136984,4.107437
12954,Vthunter_0037,TTTGTTGTCCATTGGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.234337,0.000000,3.407544,3.407544,2.234337,0.0,0.000000,0.000000,0.000000,2.234337
12955,Vthunter_0037,TTTGTTGTCCCATTTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.444894,0.000000,4.328577,4.643428,3.369487,0.0,0.000000,0.000000,0.000000,2.981079
12956,Vthunter_0037,TTTGTTGTCCGTTGGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.318213,2.318213,3.627803,4.622348,2.318213,0.0,0.000000,0.000000,0.000000,2.318213
12957,Vthunter_0037,TTTGTTGTCGGAGTGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.316167,3.760224,6.328723,6.873200,4.662449,0.0,4.355722,2.707117,0.000000,5.612132

In [4]:
import pandas as pd
df_metadata = pd.read_excel("data/metadata.xlsx", sheet_name="Fig 1k", header=None) # sheet "Fig 1k" corrsponds to the metadata for the pangolin heart
df_metadata_clean = df_metadata.loc[2:, 1:]
df_metadata_clean

,1,2,3,4,5,6,7
2,Cell Barcodes,tSNE_1,tSNE_2,Celltype,Flt1,Ddr2,Cd163
3,AAACCCAAGAGAGCGG,-13.837514,11.966296,Cardiomyocytes,0,0,0
4,AAACCCAAGCAAGGAA,-13.222577,4.588233,Cardiomyocytes,0,0,0
5,AAACCCAAGCAGTCTT,-15.935964,2.490635,Cardiomyocytes,1.821536,0,0
6,AAACCCAAGCCTGTGC,-19.552338,10.476174,Cardiomyocytes,0,0,0
...,...,...,...,...,...,...,...
12956,TTTGACTTCCGTCAAA,-12.080365,-22.443097,Smooth muscle cell,0,0,0
12957,TTTGATCCACGCAGTC,-17.543997,-6.670195,Smooth muscle cell,0,0,0
12958,TTTGGTTGTATTGCCA,-11.929592,-22.920465,Smooth muscle cell,0,0,0
12959,TTTGGTTGTGGTATGG,-13.823401,-27.106934,Smooth muscle cell,0,0,0
12960,TTTGTTGTCGGAGTGA,-17.226905,-8.20676,Smooth muscle cell,0,0,0

In [5]:
df_metadata_clean = df_metadata_clean.reset_index(drop=True)
df_metadata_clean.columns = df_metadata_clean.iloc[0]
df_metadata_clean = df_metadata_clean.loc[1:, :]
df_metadata_clean = df_metadata_clean.reset_index(drop=True)
df_metadata_clean

,Cell Barcodes,tSNE_1,tSNE_2,Celltype,Flt1,Ddr2,Cd163
0,AAACCCAAGAGAGCGG,-13.837514,11.966296,Cardiomyocytes,0,0,0
1,AAACCCAAGCAAGGAA,-13.222577,4.588233,Cardiomyocytes,0,0,0
2,AAACCCAAGCAGTCTT,-15.935964,2.490635,Cardiomyocytes,1.821536,0,0
3,AAACCCAAGCCTGTGC,-19.552338,10.476174,Cardiomyocytes,0,0,0
4,AAACCCACAATCCTTT,-21.14347,-5.296218,Cardiomyocytes,0,0,0
...,...,...,...,...,...,...,...
12953,TTTGACTTCCGTCAAA,-12.080365,-22.443097,Smooth muscle cell,0,0,0
12954,TTTGATCCACGCAGTC,-17.543997,-6.670195,Smooth muscle cell,0,0,0
12955,TTTGGTTGTATTGCCA,-11.929592,-22.920465,Smooth muscle cell,0,0,0
12956,TTTGGTTGTGGTATGG,-13.823401,-27.106934,Smooth muscle cell,0,0,0
12957,TTTGTTGTCGGAGTGA,-17.226905,-8.20676,Smooth muscle cell,0,0,0

In [6]:
df_metadata_clean.columns = ['Cells', 'tSNE_1', 'tSNE_2', 'Celltype', 'Flt1', 'Ddr2', 'Cd163']
df_metadata_clean

,Cells,tSNE_1,tSNE_2,Celltype,Flt1,Ddr2,Cd163
0,AAACCCAAGAGAGCGG,-13.837514,11.966296,Cardiomyocytes,0,0,0
1,AAACCCAAGCAAGGAA,-13.222577,4.588233,Cardiomyocytes,0,0,0
2,AAACCCAAGCAGTCTT,-15.935964,2.490635,Cardiomyocytes,1.821536,0,0
3,AAACCCAAGCCTGTGC,-19.552338,10.476174,Cardiomyocytes,0,0,0
4,AAACCCACAATCCTTT,-21.14347,-5.296218,Cardiomyocytes,0,0,0
...,...,...,...,...,...,...,...
12953,TTTGACTTCCGTCAAA,-12.080365,-22.443097,Smooth muscle cell,0,0,0
12954,TTTGATCCACGCAGTC,-17.543997,-6.670195,Smooth muscle cell,0,0,0
12955,TTTGGTTGTATTGCCA,-11.929592,-22.920465,Smooth muscle cell,0,0,0
12956,TTTGGTTGTGGTATGG,-13.823401,-27.106934,Smooth muscle cell,0,0,0
12957,TTTGTTGTCGGAGTGA,-17.226905,-8.20676,Smooth muscle cell,0,0,0

In [7]:
df_pangolin_heart_ct = df_pangolin_heart.copy()

In [8]:
df_pangolin_heart_ct['Celltype'] = df_pangolin_heart_ct['Cells'].map(df_metadata_clean.set_index('Cells')['Celltype'])
df_pangolin_heart_ct

,Project,Cells,MAOA,MAOB,LOC108388328,ITPRID1,LOC108397419,LOC108398607,LOC108398140,LOC108392528,...,ATP8,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB,Celltype
0,Vthunter_0037,AAACCCAAGAGAGCGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,4.837742,4.312646,3.416253,0.0,3.416253,0.000000,0.000000,2.755413,Cardiomyocytes
1,Vthunter_0037,AAACCCAAGCAAGGAA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.694161,5.885050,6.011014,4.544395,0.0,3.224378,0.000000,0.000000,5.286000,Cardiomyocytes
2,Vthunter_0037,AAACCCAAGCAGTCTT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,4.984139,5.338758,3.292377,0.0,0.000000,1.821536,0.000000,4.145927,Cardiomyocytes
3,Vthunter_0037,AAACCCAAGCCTGTGC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,4.993237,4.087071,2.749914,0.0,0.000000,0.000000,0.000000,3.410573,Cardiomyocytes
4,Vthunter_0037,AAACCCAAGTAACGTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.508516,4.050626,4.050626,2.508516,0.0,0.000000,0.000000,0.000000,2.508516,Fibroblasts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12953,Vthunter_0037,TTTGTTGTCCAAGCTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.153655,5.417057,5.417057,4.107437,0.0,0.000000,0.000000,2.136984,4.107437,Endothelial cell
12954,Vthunter_0037,TTTGTTGTCCATTGGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,3.407544,3.407544,2.234337,0.0,0.000000,0.000000,0.000000,2.234337,Cardiomyocytes
12955,Vthunter_0037,TTTGTTGTCCCATTTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,4.328577,4.643428,3.369487,0.0,0.000000,0.000000,0.000000,2.981079,Endothelial cell
12956,Vthunter_0037,TTTGTTGTCCGTTGGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.318213,3.627803,4.622348,2.318213,0.0,0.000000,0.000000,0.000000,2.318213,Cardiomyocytes
12957,Vthunter_0037,TTTGTTGTCGGAGTGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.760224,6.328723,6.873200,4.662449,0.0,4.355722,2.707117,0.000000,5.612132,Smooth muscle cell

In [9]:
df_pangolin_heart[df_pangolin_heart["Cells"] == "AAACCCAAGTAACGTA"]

,Project,Cells,MAOA,MAOB,LOC108388328,ITPRID1,LOC108397419,LOC108398607,LOC108398140,LOC108392528,...,COX2,ATP8,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB
4,Vthunter_0037,AAACCCAAGTAACGTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.551341,2.508516,4.050626,4.050626,2.508516,0.0,0.0,0.0,0.0,2.508516

In [10]:
df_pangolin_heart_ct[df_pangolin_heart_ct["Cells"] == "AAACCCAAGTAACGTA"]

,Project,Cells,MAOA,MAOB,LOC108388328,ITPRID1,LOC108397419,LOC108398607,LOC108398140,LOC108392528,...,ATP8,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB,Celltype
4,Vthunter_0037,AAACCCAAGTAACGTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.508516,4.050626,4.050626,2.508516,0.0,0.0,0.0,0.0,2.508516,Fibroblasts

In [11]:
df_metadata_clean[df_metadata_clean["Cells"] == "AAACCCAAGTAACGTA"]

                 Cells     tSNE_1    tSNE_2     Celltype Flt1 Ddr2 Cd163
9655  AAACCCAAGTAACGTA  32.096887 -1.407711  Fibroblasts    0    0     0

In [12]:
df_pangolin_heart_ct.to_csv("data/pangolin/pangolin_heart_celltype.csv", sep="\t", index=None)

### Convert to AnnData

In [16]:

import anndata as ad

# Step 1: Load your tabular data (e.g., from CSV)
df = fdpd.read_csv("data/pangolin/pangolin_heart_celltype.csv", sep="\t")  # or pd.read_table("your_data.tsv")

df = df.drop(columns=["Project"])
df

,Cells,MAOA,MAOB,LOC108388328,ITPRID1,LOC108397419,LOC108398607,LOC108398140,LOC108392528,PDE8B,...,ATP8,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB,Celltype
0,AAACCCAAGAGAGCGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.123909,...,0.000000,4.837742,4.312646,3.416253,0.0,3.416253,0.000000,0.000000,2.755413,Cardiomyocytes
1,AAACCCAAGCAAGGAA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,2.694161,5.885050,6.011014,4.544395,0.0,3.224378,0.000000,0.000000,5.286000,Cardiomyocytes
2,AAACCCAAGCAGTCTT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,4.984139,5.338758,3.292377,0.0,0.000000,1.821536,0.000000,4.145927,Cardiomyocytes
3,AAACCCAAGCCTGTGC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,4.993237,4.087071,2.749914,0.0,0.000000,0.000000,0.000000,3.410573,Cardiomyocytes
4,AAACCCAAGTAACGTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,2.508516,4.050626,4.050626,2.508516,0.0,0.000000,0.000000,0.000000,2.508516,Fibroblasts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12953,TTTGTTGTCCAAGCTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,3.153655,5.417057,5.417057,4.107437,0.0,0.000000,0.000000,2.136984,4.107437,Endothelial cell
12954,TTTGTTGTCCATTGGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,3.407544,3.407544,2.234337,0.0,0.000000,0.000000,0.000000,2.234337,Cardiomyocytes
12955,TTTGTTGTCCCATTTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,4.328577,4.643428,3.369487,0.0,0.000000,0.000000,0.000000,2.981079,Endothelial cell
12956,TTTGTTGTCCGTTGGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,2.318213,3.627803,4.622348,2.318213,0.0,0.000000,0.000000,0.000000,2.318213,Cardiomyocytes
12957,TTTGTTGTCGGAGTGA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,3.760224,6.328723,6.873200,4.662449,0.0,4.355722,2.707117,0.000000,5.612132,Smooth muscle cell

In [22]:
# Step 2: Extract expression matrix (gene expression values)
X = df.drop(columns=["Celltype", "Cells"]).values  # numpy array of expression data

# Step 3: Create observation (cell-level) metadata
obs = pd.DataFrame({"Celltype": df["Celltype"]})
obs.index = df["Cells"] #[f"cell_{i}" for i in range(len(df))]  # optional: name cells

# Step 4: Create variable (gene-level) metadata
var = pd.DataFrame(index=df.columns.drop(["Celltype", "Cells"]))  # gene names as index

# Step 5: Create AnnData object
adata = ad.AnnData(X=X, obs=obs, var=var)

# (Optional) Save to file
adata.write("data/pangolin/pangolin_heart.h5ad")

In [23]:
print(adata)
print(adata.obs.head())
print(adata.var.head())

AnnData object with n_obs × n_vars = 12958 × 21627
    obs: 'Celltype'
                        Celltype
Cells
AAACCCAAGAGAGCGG  Cardiomyocytes
AAACCCAAGCAAGGAA  Cardiomyocytes
AAACCCAAGCAGTCTT  Cardiomyocytes
AAACCCAAGCCTGTGC  Cardiomyocytes
AAACCCAAGTAACGTA     Fibroblasts
Empty DataFrame
Columns: []
Index: [MAOA, MAOB, LOC108388328, ITPRID1, LOC108397419]

In [24]:
df[df["Cells"] == "AAACCCAAGTAACGTA"]

,Cells,MAOA,MAOB,LOC108388328,ITPRID1,LOC108397419,LOC108398607,LOC108398140,LOC108392528,PDE8B,...,ATP8,ATP6,COX3,ND3,ND4L,ND4,ND5,ND6,CYTB,Celltype
4,AAACCCAAGTAACGTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.508516,4.050626,4.050626,2.508516,0.0,0.0,0.0,0.0,2.508516,Fibroblasts

In [26]:
from sklearn.model_selection import train_test_split
import anndata as ad

# Split indices
train_idx, test_idx = train_test_split(
    range(adata.n_obs), test_size=0.2, random_state=42, stratify=adata.obs["Celltype"]
)

# Create new AnnData objects
adata_train = adata[train_idx].copy()
adata_test = adata[test_idx].copy()

# Optionally save to disk
adata_train.write("data/pangolin/pangoling_heart_train.h5ad")
adata_test.write("data/pangolin/pangoling_heart_test.h5ad")